/* Estilos del Formulario.html */

body {  	
 background:#e8e8ea;
 font-family: 'Pathway Gothic One'	
}

footer {  	
  background: #024873;
  color:#fff;	
}
/* animacion sujeto */
#cont-tuto{
  animation-name: tutor;
  animation-duration:5s;
}

@keyframes tutor {
  0%   {display:block; left:-30%; top:0px;}
  100% {display:block;left:0%; top:0px; }
}
/* ./animacion sujeto */


.card-header:first-child {
  background: #027368;
}

h2.card-header {
  color: #fff;
}

/* switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #027368;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ./swicth*/

/* Animacion contenedor */
#formOne{
  animation-name: contenedor;
  animation-duration: 10s;
  /*animation-delay: 2s;*/
  z-index:0;
}

@keyframes contenedor {
  from{    
    opacity: 0;
    -webkit-transform: scale(.1);
    -moz-transform: scale(.1);
    -o-transform: scale(.1);
    -ms-transform: scale(.1);
    transform: scale(.1);
  }    
  to{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  } 
}
/* ./Animacion contenedor */

/*Color footer*/

i.material-icons.pagination {
	color: white;
	font-size: 50px;
}
strong{
	display:flex;
	padding-right: 5px;
}
i.material-icons {padding-right: 5px;}
h2.card-header{
	font-family: 'Anton';
}

.col-12.col-md-4.imageArchivo {
 height: 60%;
}



/* Estilos del Material.html */

/* Animacion dialogo */
#formTwo{
  animation-name: contenedortwo;
  animation-duration: 10s;
  /*animation-delay: 2s;*/
  z-index:0;
}

@keyframes contenedortwo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }

  100% {
   opacity: 1;
 }
 /* ./Animacion dialogo */

}

/* animacion sujeto circular */
#tutorcirc{
  animation-name: tutortwo;
  animation-duration:5s;
}

@keyframes tutortwo {
  0% {
    right:  300px;
  }

  100% {
    right: 10px;
  }
}
}

/*./animacion sujeto circular*/

/* animacion descargable*/

#descargable{
  animation-name: descargar;
  animation-duration:25s;
}

@keyframes descargar {
  0%{
    opacity: 0;
  }

  40%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}
/* ./animacion descargable*/

/*animacion video*/
#video{
  animation-name: clvideo;
  animation-duration:15s;

}

@keyframes clvideo {
  0%{
    opacity: 0;
  }

  30%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}
/./*animacion video*/


/* Estilos de Grafica.html */

/* Avatar y dialogo */

img.imageTuto {height: 30%;}

.dialog_tuto {
  background: #5377A6;
  color:#fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 30px 30px 30px 0px;
  margin-left: 100px;
}



div.panel-title{
  color: white;
  background: #3BA0F3;
  text-align: center;
  font-size: 1.25rem ;
  cursor: pointer;
}

.panel-info-description.text-justify.pt-3 {
  background: white;
  padding: 5px;
  height: 90%;
  border: solid 3px #3BA0F3;
}
/* Estilos Grafica*/
.dialog_tuto2 {
  background: #5377A6;
  color:#fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 30px 30px 0px 30px;
  margin-left: 100px;
}
img.imageTuto2 {height: 90%;}

/* Animacion dialogo3*/
#formThree{
  animation-name: dialogothree;
  animation-duration: 5s;
  /*animation-delay: 2s;*/
  z-index:0;
}

@keyframes dialogothree {
  0%   {display:block; left:-30%; top:0px;}
  100% {display:block;left:0%; top:0px; }
}

/* Animacion dialogo3 */

/* Animacion Grafica*/
#grafica{
  animation-name: cuadros;
  animation-duration: 15s;
  /*animation-delay: 2s;*/
  z-index:0;
}

@keyframes cuadros {
 from{
  opacity: 0;
}
to{
  opacity: 1;
}
}

/* Animacion Grafica */


/*Estilos Encuesta*/
.form-group.row.card.pt-5.pb-5.align-self-center {
  width: fit-content;
}







